:root {
	--primary-color: #da771a;
	--bg-color: #f1eeff;
	--font-color: #000c45;
}

.dark {
	--bg-color: #150c36;
	--font-color: #fff;
}

body {
	background-image: linear-gradient(to right top, #3c485a, #4b556b, #5b617c, #6d6e8d, #807b9d);
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.App {
	background-color: var(--bg-color);
	min-width: 360px;
	min-height: 400px;
	display: flex;
	flex-direction: column;

	border-radius: 1rem;
	color: var(--font-color);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	border-bottom: 1px solid #3c485a;
}

.toggle {
	color: var(--font-color);
}

.filters {
	display: flex;
}

.filters li {
	margin-left: 0.5rem;
}

.filters .underline {
	border-bottom: 1px solid var(--primary-color);
}

.filters li button {
	color: var(--primary-color);
	text-transform: capitalize;
	padding-bottom: 3px;
}

.filters li button.active {
	border-bottom: 1px solid var(--font-color);
}

.lists {
	padding: 1rem;
}

.lists li {
	margin-bottom: 0.5rem;
	display: flex;
}

.lists li input {
	margin-right: 0.5rem;
}

.lists li button {
	margin-left: auto;
	background-color: #6d6e8d;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.lists li button svg {
	color: #fff;
}

form {
	margin-top: auto;
	padding: 1rem;
	display: flex;
}

form > input {
	border: none;
	padding: 0.5rem;
	border-radius: 3px 0 0 3px;
	flex: 1;
}

form > button {
	border: none;
	background-color: var(--primary-color);
	color: #fff;
	padding: 0.5rem 1rem;
	border-radius: 0 3px 3px 0;
}
