* {
	margin: 0;
	padding: 0;
}

ul,
li {
	list-style: none;
}

button {
	border: none;
	background-color: transparent;
}

input {
	border-radius: 0;
}

input[type='checkbox']:checked + label {
	text-decoration: line-through;
}
